.blog-page1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.blog-page1-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.blog-page1-text {
  font-size: 3em;
  align-self: center;
  text-align: center;
}
.blog-page1-text1 {
  opacity: 0.4;
  font-size: 30px;
  align-self: center;
  text-align: center;
}




.lgt-tupdate-v11-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lgt-tupdate-v11-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lgt-tupdate-v11-image {
  height: 2rem;
}
.lgt-tupdate-v11-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.lgt-tupdate-v11-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.lgt-tupdate-v11-link {
  text-decoration: none;
}
.lgt-tupdate-v11-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.lgt-tupdate-v11-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.lgt-tupdate-v11-burger-menu {
  display: none;
}
.lgt-tupdate-v11-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lgt-tupdate-v11-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lgt-tupdate-v11-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lgt-tupdate-v11-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lgt-tupdate-v11-logo {
  height: 2rem;
}
.lgt-tupdate-v11-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lgt-tupdate-v11-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lgt-tupdate-v11-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.lgt-tupdate-v11-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lgt-tupdate-v11-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lgt-tupdate-v11-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lgt-tupdate-v11-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lgt-tupdate-v11-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.lgt-tupdate-v11-text01 {
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.lgt-tupdate-v11-text08 {
  font-size: 30px;
  text-decoration: underline;
}
.lgt-tupdate-v11-text16 {
  color: var(--dl-color-gray-black);
  font-size: 40px;
}
.lgt-tupdate-v11-link7 {
  color: var(--dl-color-gray-black);
  font-size: 40px;
  text-decoration: underline;
}
.lgt-tupdate-v11-link8 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 767px) {
  .lgt-tupdate-v11-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lgt-tupdate-v11-desktop-menu {
    display: none;
  }
  .lgt-tupdate-v11-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lgt-tupdate-v11-link3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lgt-tupdate-v11-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lgt-tupdate-v11-link5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lgt-tupdate-v11-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lgt-tupdate-v11-link6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .lgt-tupdate-v11-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .lgt-tupdate-v11-mobile-menu {
    padding: 16px;
  }
  .lgt-tupdate-v11-link8 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
