<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="https://ts1.dev" class="navigation-links-link">
      <span>Home</span>
    </a>
    <span class="navigation-links-text"><span>Maps</span></span>
    <a href="#AboutMe" class="navigation-links-link1"><span>About</span></a>
    <a href="#socials" class="navigation-links-link2"><span>Socials</span></a>
    <a
      href="https://TS1.dev/WIP_Page"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link3"
    >
      <span>Blog</span>
    </a>
  </nav>
</div>
